@use './reset.scss';

*{
font-family: 'Nunito', sans-serif;
}
.h-container{
display: inline;
padding: 10px;
}
.navitems li {
list-style-type: none;
display: inline;
margin: 20px;
}
.navitems{
float:right;
margin: 5px 30px;
}
