@use './reset.scss';

*{
    font-family: 'Nunito', sans-serif;
  }
  .h-container{
    padding: 2.5px;
  }
  .h-container >img{
  margin-left: 60px;
  }
  .navitems li {
    list-style-type: none;
    display: inline;
    padding: 10px;
  }
  .navitems{
    float:right;
    margin-right: 100px;
  }
  .button{
    margin-right: 250px;
    float: right;
    color: red !important;
  }
  section .banner{
    background-image: url('C:/Users/HP/Documents/Git Projects/zomato-replica/images/bg.jpg');
  }